.button {
  padding: 6px 20px;
  border: none;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.64px;
  color: #fff;
  transition: transform 0.2s ease;
}
.button:hover {
  transform: scale(1.05);
}

.edit-button {
  background-color: #639b6d;
}

.del-button {
  background-color: #cb5b43;
}