@use "../../common/styles/vars";
@use "../../common/styles/mixins";

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  @include mixins.Body1-font;

  &__header {
    background-color: vars.$primary-light;
  }

  &__body {
    background-color: vars.$text-white;

    & tr:last-child td:first-child {
      border-bottom-left-radius: vars.$table-rad;
    }

    & tr:last-child td:last-child {
      border-bottom-right-radius: vars.$table-rad;
    }
  }
}
