@use "../../common/styles/vars";
@use "../../common/styles/mixins";

.table {
  &__header-row {
    height: vars.$row-height;
  }

  &__header-cell {
    padding: vars.$cell-padding;
    font-style: italic;
    border-right: 1px solid vars.$primary;
    border-bottom: 1px solid vars.$primary;

    &:first-child {
      border-top-left-radius: vars.$table-rad;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: vars.$table-rad;
    }
  }
}
