@use "../../../common/styles/index" as index;

.table {
  &__header {
    background-color: index.$primary-light;
  }

  &__header-row {
    height: index.$row-height;
  }

  &__header-cell {
    padding: index.$cell-padding;
    font-style: italic;
    border-right: 1px solid index.$primary;
    border-bottom: 1px solid index.$primary;

    &:first-child {
      border-top-left-radius: index.$table-rad;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: index.$table-rad;
    }
  }
}
