@use "../../common/styles/vars";
@use "../../common/styles/mixins";

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: vars.$text-btn-rad;
  // @include mixins.Body3-font;
  @include mixins.Button2-font;
  color: vars.$white-color;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.primary-btn {
  background-color: vars.$secondary-Green;
}

.success-btn {
  background-color: vars.$secondary-Pink;
}

.danger-btn {
  background-color: vars.$secondary-Orange;
}
