@import "../../common/styles/vars";
@import "../../common/styles/mixins";

.btn {
  padding: 6px 20px;
  border: none;
  border-radius: $text-btn-rad;
  // @include Body3-font;
  @include Button2-font;
  color: $text-white;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.primary-btn {
  background-color: $secondary-Pink;
}

.success-btn {
  background-color: $secondary-Green;
}

.danger-btn {
  background-color: $secondary-Orange;
}
