@use "../../common/styles/index" as index;

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: index.$text-btn-rad;
  // @include index.Body3-font;
  @include index.Button2-font;
  color: index.$white-color;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.primary-btn {
  background-color: index.$secondary-Green;
}

.success-btn {
  background-color: index.$secondary-Pink;
}

.danger-btn {
  background-color: index.$secondary-Orange;
}
