@use "../../common/styles/index" as index;

.cards {
  position: relative;
  width: 550px;
  height: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__card-and-counter {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__motion-wrapper {
    width: "100%";
    height: "100%";
    position: "absolute";
  }

  &__counter {
    @include index.Body1-font;
    color: index.$text-color-medium;
  }
}
