@use "../../../common/styles/index" as index;

.footer {
  box-shadow: 0px -1px 0px 0px index.$lines-color;

  &__content {
    margin: 0 auto;
    @include index.main-blocks-wrap;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
