.table__input {
  padding: 4px;
  height: 40px;
  border: 1px solid #c3dce3;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  font-size: 20px;
  letter-spacing: -0.64px;
  width: 95%;
}
.table__input:focus {
  border-width: 1.5px;
  border-color: #2b788b;
}