.search-panel {
  display: flex;
  gap: 5px;
}
.search-panel__input {
  padding: 4px;
  height: 30px;
  min-width: 180px;
  border: 1px solid #c3dce3;
  border-radius: 6px;
}
.search-panel__input:focus {
  border-color: #2b788b;
}