.table__cell {
  padding: 10px;
  height: 60px;
  border-right: 1px solid #2b788b;
  border-top: 1px solid #2b788b;
}
.table__cell:first-child {
  font-weight: bold;
}
.table__cell:last-child {
  border-right: none;
}