@use "../../common/styles/vars";
@use "../../common/styles/mixins";

.table {
  &__cell {
    padding: vars.$cell-padding;
    height: vars.$row-height;
    border-right: 1px solid vars.$primary;
    border-top: 1px solid vars.$primary;

    &:nth-child(2) {
      font-weight: bold;
    }

    // &:not(:first-child) {
    //   color: $text-color-medium;
    // }

    &:last-child {
      border-right: none;
    }
  }
}
