@import "../../common/styles/vars";
@import "../../common/styles/mixins";

.nav {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: $text-dark;
  }
}

.header-nav {
  &__list {
    @include Body2-font;
  }
}

.footer-nav {
  &__list {
    @include Body3-font;
  }
}
