@use "../../common/styles/vars";
@use "../../common/styles/mixins";

.nav {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: vars.$text-dark;
  }
}

.header-nav {
  &__list {
    @include mixins.Body2-font;
  }
}

.footer-nav {
  &__list {
    @include mixins.Body3-font;
  }
}
