@use "../../../common/styles/index" as index;

.nav {
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: index.$text-color-medium;
  }
}

.header-nav {
  &__list {
    @include index.Body1-font;
  }
}

.footer-nav {
  &__list {
    @include index.Body3-font;
  }
}
