@use "../../../common/styles/index" as index;

.nav {
  &__list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    color: index.$text-color-medium;
  }

  &__list li:hover {
    transform: scale(1.1);
  }

  &__list--header {
    @include index.Body1-font;
  }

  &__list--footer {
    @include index.Body3-font;
  }

  &__link--active {
    color: index.$text-color-black;
  }
}
