@use "../../common/styles/index" as index;

.card {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  background-color: index.$white-color;
  border-radius: index.$card-rad;
  box-shadow: 0px 22.898px 45.796px -11.449px rgba(52, 41, 39, 0.08);

  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__title {
    @include index.Heading2-font;
  }

  &__par {
    @include index.Body1-font;
  }

  &__par--light {
    color: index.$text-color-medium;
  }

  &__optional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
