//imported in main.scss
@use "../../../../common/styles/index" as index;

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 70px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: index.$primary;
  border-radius: 5px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  // background: index.$secondary-Cyan;
  background: index.$primary !important;
  transform: scale(1.05);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  min-height: 40px !important;
  min-width: 40px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: index.$primary;
  height: 3px !important;
  width: 30px !important;
  top: 10px !important;
  right: -8px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  width: 350px;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  // background: #373a47;
  background-color: index.$primary-light;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  @include index.Body2-font;
  color: index.$text-color-medium;
}

.bm-item.active {
  // color: index.$text-color-black;
  text-decoration: underline;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}
