@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.table {
  &__header-row {
    height: $row-height;
  }

  &__header-cell {
    padding: $cell-padding;
    font-style: italic;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;

    &:first-child {
      border-top-left-radius: 12px;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: 12px;
    }
  }
}
