//colors
$primary: #2b788b; //primary-Cyan-Dark
$primary-light: #c3dce3; //primary-Cyan-Light
$accent: #945069; //primary-Pink-Dark
$accent-light: #f2d4dc; //rimary-Pink-Light

$text-black: #000; //black
$text-white: #fff; //white
// $text-medium: #e0e0e0; //primary-Grey-Medium
$text-dark: #757575; //primary-Grey-Dark

$bg-main: #f6f5f4; //primary-Grey-Light
$bg-social-Icon: #bababa; //primary-Grey-Icon

$lines: #e0e0e0; //primary-Grey-Medium

$secondary-Cyan: #5996a5;
$secondary-Green: #639b6d;
$secondary-Pink: #a15993;
$secondary-Red: #a95151;
$secondary-Yellow: #c4a24c;
$secondary-Orange: #cb5b43;

//table
$row-height: 60px;
$cell-padding: 10px;

//border-radius
$icon-btn-rad: 6px;
$text-btn-rad: 100px;
$input-rad: 6px;
