@use "../../../common/styles/index" as index;

.table {
  &__cell {
    padding: index.$cell-padding;
    height: index.$row-height;
    border-right: 1px solid index.$primary;
    border-top: 1px solid index.$primary;

    &:nth-child(2) {
      font-weight: bold;
    }

    // &:not(:first-child) {
    //   color: index.$text-color-medium;
    // }

    &:last-child {
      border-right: none;
    }
  }
}
